<!-- resources/mapper/AdministratorMapper.xml -->
<mapper namespace="com.SE_Pharmacy.Pharmacy_BE.mapper.AdministratorMapper">

    <!-- 查询管理员信息 -->
    <select id="getAdministratorById" resultType="Administrator" parameterType="String">
        SELECT * FROM administrator WHERE ano = #{ano}
    </select>

    <!-- 插入管理员信息 -->
    <insert id="insertAdministrator" parameterType="Administrator">
        INSERT INTO administrator (ano, aname, password, phonenumber)
        VALUES (#{ano}, #{aname}, #{password}, #{phonenumber})
    </insert>

    <!-- 更新管理员信息 -->
    <update id="updateAdministrator" parameterType="Administrator">
        UPDATE administrator
        SET aname = #{aname}, password = #{password}, phonenumber = #{phonenumber}
        WHERE ano = #{ano}
    </update>

    <!-- 删除管理员 -->
    <delete id="deleteAdministrator" parameterType="String">
        DELETE FROM administrator WHERE ano = #{ano}
    </delete>

</mapper>